body {
    text-align: center;
    background-color: rgb(128, 96, 61);
}

.choice-button{
    height: 100px;
    width: 100px;
    border: none;
    margin: 10px;
    background-color: rgb(34, 112, 45);
    border-radius: 50px;
    cursor: pointer;
}
.choice-image{
    height: 75px;
}